* {
	margin: 0; 
	padding: 0;
	font-family: 'Montserrat', Comic Sans MS;
}
header {
	width: 100%;
	background: url(1.jpg);
	background-position: center center;
	height: 10vh;
}
header #main-menu {
	background: #222;
	float: left;
	height: 60px;
	line-height: 30px;
	width: 100%;
}
header nav#menu-area {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	width: 900px;
}
header nav#menu-area ul li {
	float: left;
	position: relative;
	font-size: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
	text-align: center;
	text-transform: uppercase;
}
header nav#menu-area ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 60px;
}
header nav#menu-area ul li:hover>a {
	background: #555555;
}
header nav#menu-area ul li ul.submenu-1 {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0px;
	top: 60px;
	background: #222;
	width: 180px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}
header nav#menu-area ul li ul.submenu-1 li {
	border: none;
	border-bottom: 1px solid #ccc;
	clear: both;
	margin-top: -15px;
	padding: 0;
	width: 180px;
	transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}
header nav#menu-area ul li:hover ul.submenu-1 {
	opacity: 1;
	visibility: visible;
}
header nav#menu-area ul li:hover ul.submenu-1 li {
	margin-top: 0;
	opacity: 1;
}

.pictures img{
width:250px;
height:250px;
margin:30px;
}

img {
	width: 200px;
	height: 150px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	-webkit-transition: -webkit-transform .3s ease-in-out; 
}

a:hover img {
	-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}

a:hover #img1, a:focus #img1  {
	-webkit-transform: scale(1.5) rotate(-3deg);
}
a:hover #img2, a:focus #img2  {
	-webkit-transform: scale(1.5) rotate(5deg);
}
a:hover #img3, a:focus #img3  {
	-webkit-transform: scale(1.5) rotate(-7deg);
}
a:hover #img4, a:focus #img4  {
	-webkit-transform: scale(1.5) rotate(2deg);
}
a:hover #img5, a:focus #img5  {
	-webkit-transform: scale(1.5) rotate(-3deg);
}
a:hover #img6, a:focus #img6  {
	width:400px;
	height:400px;
	-webkit-transform: scale(1.5) rotate(0deg);
}
a:hover #img7, a:focus #img7  {
	width:400px;
	height:400px;
	-webkit-transform: scale(1.5) rotate(0deg);
}